name: Docker

on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - uses: docker/metadata-action@v4
        with:
          images: ${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            type=sha,format=long
            type=schedule,pattern={{date 'YYYYMMDD-hhmmss'}}
      - run: |
          echo TAG=${TAG##*/}
          echo ${{ steps.meta.outputs.label }}
        env:
          TAG: ${{ github.ref }}
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          push: true
          load: false
          no-cache: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.label }}
