on:
  push:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo ${TAG##*/}
        if: startsWith(github.ref, 'refs/tags/')
        env:
          TAG: ${{ github.ref }}
