name: Test

on:
  pull_request:
  push:
    branches:
      - main

env:
  TAG: ${{ vars.GITHUB_REF_NAME }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - uses: docker/build-push-action@v4
        with:
          push: false
          tags: ${{ github.repository }}:${{ env.TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - run: |
          which docker
          docker --version
          docker buildx version
          docker image ls
